$clr-blue: hsl(246, 80%, 60%);

$clr-work: hsl(15, 100%, 70%);
$clr-play: hsl(195, 74%, 62%);
$clr-study: hsl(348, 100%, 68%);
$clr-exercise: hsl(145, 58%, 55%);
$clr-social: hsl(264, 64%, 52%);
$clr-self-care: hsl(43, 84%, 65%);

$clr-very-dark-blue: hsl(226, 43%, 10%);
$clr-dark-blue: hsl(235, 46%, 20%);
$clr-desaturated-blue: hsl(235, 45%, 61%);
$clr-pale-blue: hsl(236, 100%, 87%);

$fs-reg: 18px;
$ff-reg: Rubik, sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-bold: 500;

$bp-mobile: 375px;
$bp-tablet: 768px;

$card-border-radius: 15px;
